.comment-list .comment-content {
    margin-top: 20px;
    padding: 22px;
    border-radius: 3px;
    color: #0c0b0bf0;
    background: #1dab362e;
}
.comment-list .triangle-up {
    position: absolute;
    top: -15px;
    margin-bottom: 15px;
    border-bottom: 15px solid #1dab362e;
}