.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.text-center {
  text-align: center;
}
.h-center {
  margin: 0 auto;
}
.mb60 {
  margin-bottom: 60px;
}
.mt40 {
  margin-top: 40px;
}
.color-red {
  color: #FF0000;
}
.color-green {
  color: #008000;
}
.color-black {
  color: '#000000'
}
.font-bold {
  font-weight: bold;
}

/* 正三角 */
.triangle-up {
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 15px solid red;
}